{{ define "main" }}

{{ if .Params.hero }}
  {{ with .Params.hero }}
    {{ partial "hero-split" . }}
  {{ end }}
{{ end }}

<section class="capabilities block bg-gray">
  <div class="wrapper-md">
    <div class="flex flex-column flex-row-m flex-center-m">
      <div class="w-100 w-50-m flow">
        <h2>{{ .Params.why_a_to_z_block.heading | markdownify }}</h2>
        <p>{{ .Params.why_a_to_z_block.body }}</p>
        <a href="{{ .Params.why_a_to_z_block.button.button_url | markdownify }}" class="btn btn--primary">{{ .Params.why_a_to_z_block.button.button_text }}</a>
      </div>
      <div class="w-100 w-50-m">
        {{ partial "responsive-image" (dict "Page" . "image" .Params.why_a_to_z_block.image.image "alt" .Params.why_a_to_z_block.image.image_alt ) }}
      </div>
    </div>
  </div>
</section>
<section class="capabilities block">
  <div class="wrapper-md">
    <div class="flex flex-column flex-row-m flex-center-m">
      <div class="w-100 w-50-m">
        {{ partial "responsive-image" (dict "Page" . "image" .Params.why_work_with_us_block.image.image "alt" .Params.why_work_with_us_block.image.image_alt ) }}
      </div>
      <div class="w-100 w-50-m flow">
        <h2>{{ .Params.why_work_with_us_block.heading | markdownify }}</h2>
        <p>{{ .Params.why_work_with_us_block.body }}</p>
        <a href="{{ .Params.why_work_with_us_block.button.button_url | markdownify }}" class="btn btn--primary">{{ .Params.why_work_with_us_block.button.button_text }}</a>
      </div>
    </div>
  </div>
</section>
{{ partial "cta" . }}
{{ end }}