{{ define "main" }}
<div class="post-hero hero"></div>
<div class="block">
    <div class="sitemap-content wrapper">
        <h1>{{ .Title }}</h1>
        <div class="flex flex-column flex-row-m">
            <div class="w-100 w-40-m">
                <h3>Pages</h3>
                <ul class="sitemap-nav-list">
                    {{ range where .Site.Pages "Type" "not in" (slice "blog" "tags" "categories" "sitemap") }}
                        {{ if not (in (slice "Thank You" "Sitemap" "Website Credits") .Title) }}
                            <li class="sitemap-nav-list-item">
                                <a class="sitemap-nav-item" class="sitemap-nav-item" href="{{ .RelPermalink }}"
                                    title="{{ .Name }}">{{ .Title }}</a>
                            </li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
            <div class="w-100 w-60-m">
                <h3>Blog Posts</h3>
                <ul class="sitemap-nav-list">
                    {{ $pages := .Site.RegularPages }}
                    {{ $blog := where $pages "Type" "blog" }}
                    {{ $page := where $pages "Type" "page" }}
                    {{ range $blog }}
                    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</div>
{{ end }}