<section class="parts-gallery">
   <div class="block">
      <div class="wrapper text-center">
         <h2>{{ .Title }} product gallery</h2>
      </div>
      <div class="wrapper-lg">
           <div class="pswp-gallery gallery-grid" id="my-gallery">
               {{ range .Params.parts_gallery }}
                  <a class="pswp-gallery__image-link"
                  href="https://res.cloudinary.com/atozmachine/image/upload{{ .image.image_url }}"
                  data-pswp-width=""
                  data-pswp-height=""
                  data-cropped="true"
                  target="_blank"
                  >
                  <img class="pswp-gallery__image"
                  src="https://res.cloudinary.com/atozmachine/image/upload{{ .image.image_url }}"
                  alt="{{ .image.image_alt }}"
                  />
               </a>
            {{ end }}
           </div>
      </div>
    </div> 
 </section>