{{ define "main" }}
{{ partial "hero" (dict "Page" . "image" .Params.hero.image.hero_image "alt" .Params.hero.image.hero_image_alt ) }}
{{ partial "hero-intro-alt" . }}
<div class="wrapper-lg">
  <div class="pb-9">
    <div class="flex flex-column flex-row-m">
      <div class="w-100 w-60-m">
        <div class="contact-form bg-gray">
          <h4 class="no-margin">Quote Request</h4>
          <small>Fields marked with an * are required</small>
          <div class="underline"></div>
          <div class="contact-form__wrapper">
            <p style="text-align: center;"><iframe style="width:100%; max-width: 600px;" src="https://rfq.digital-quote.com/rfq/index.html?supplier_id=13b508ba-63ff-4ba3-918d-f44da7ded68b"></iframe></p>
          </div>
        </div>
      </div>
      <div class="w-100 w-40-m">
        {{ partial "contact-info" . }}
      </div>
    </div>
  </div>
</div>
{{ end }}