{{ define "main" }}
{{ partial "hero" (dict "Page" . "image" .Params.seo.featured_image "alt" .Params.hero.hero_image_alt "heading" .Params.hero.heading "body" .Params.hero.body ) }}
<section class="capabilities">
  <div class="wrapper">
    <div class="flex flex-column flex-row-m flex-center-m">
      <div class="w-100 w-50-m">
        {{ partial "responsive-image" (dict "Page" . "image" .Params.cnc_machining_image.image ) }}
      </div>
      <div class="w-100 w-50-m">
        <h2>{{ .Params.cnc_machining.heading | markdownify }}</h2>
        <p>{{ .Params.cnc_machining.body | markdownify }}</p>
        <a href="{{ .Params.cnc_machining.button.button_url }}" class="btn btn-primary">{{ .Params.cnc_machining.button.button_text }}</a>
      </div>
    </div>
    <div class="pt-9 flex flex-column flex-row-m flex-center-m">
      <div class="w-100 w-50-m">
        {{ partial "responsive-image" (dict "Page" . "image" .Params.fabrication_image.image ) }}
      </div>
      <div class="w-100 w-50-m">
        <h2>{{ .Params.fabrication.heading | markdownify }}</h2>
        <p>{{ .Params.fabrication.body | markdownify }}</p>
        <a href="{{ .Params.fabrication.button.button_url }}" class="btn btn-primary">{{ .Params.fabrication.button.button_text }}</a>
      </div>
    </div>
  </div>
</section>
{{ with .Params.approach }}
<section class="approach block">
  <div class="wrapper-md">
    <h2 class="text-center">{{ .heading }}</h2>
    <div class="approach-grid flex flex-wrap flex-justify-center">
      {{ range .item }}
      <div class="approach-card text-center flow">
        <img src="/images/{{ .icon }}" alt="">
        <h3>{{ .subhead }}</h3>
        <p>{{ .body }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ partial "cta" . }}
{{ end }}