{{ define "main" }}
{{ partial "hero" (dict "Page" . "image" .Params.hero.image.hero_image "alt" .Params.hero.image.hero_image_alt ) }}
{{ partial "hero-intro" . }}
{{ with .Params.industries }}
<div class="pb-10">
    <ul class="wrapper-lg industry-grid grid-3">
        {{ range .industry }}
        <li class="card">
            <div class="card__image-wrapper">
                <img src="{{ .image }}" alt="{{ .image_alt }}" class="card__image">
            </div>
            <h2 class="h6 card__title no-margin text-center">{{ .heading }}</h2>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}
<div class="flex flex-column flex-row-m">
  <div class="w-100 w-40-m image-column">
     {{ partial "responsive-image" (dict "Page" . "image" .Params.a_to_z_adapts.image ) }}
  </div>
  {{ with .Params.a_to_z_adapts }}
    <div class="w-100 w-60-m text-column bg-gray flex flex-column flex-justify-center flow">
      <h2 >{{ .heading }}</h2>
      {{ range .methods }}
      <h3 class="text-primary">{{ .heading }}</h3>
      <p>{{ .body }}</p>
      {{ if .button }}
        <a href="{{ .button.button_url }}" class="btn btn-primary">{{ .button.button_text }}</a>
      {{ end }}
      {{ end }}
    </div>
  {{ end }}
</div>
{{ partial "a-to-z-approach" . }}
{{ partial "cta" . }}
{{ end  }}