{{ define "main" }}
{{ partial "hero" (dict "Page" . "image" .Params.hero.image.hero_image "alt" .Params.hero.image.hero_image_alt ) }}
{{ partial "hero-intro-alt" . }}
<div class="bg-black block">
  <div class="wrapper">
    {{ partial "blog/category-list" . }}
  </div>
</div>
<section class="block">
  <div class="grid-3 wrapper-lg">
    {{ $paginator := .Paginate ( where .Data.Pages "Type" "blog" ) }}
    {{ range $paginator.Pages }}
    {{ .Render "article" }}
    {{ end }}
  </div>
  <div class="wrapper-lg">
    {{ partial "blog/custom-pagination.html" . }}
  </div>
</section>
{{ end }}