{{ define "main" }}
{{ partial "hero" (dict "Page" . "image" .Params.seo.featured_image "alt" .Params.hero.hero_image_alt "heading" .Params.hero.heading "body" .Params.hero.body ) }}
<div class="bg-black block">
  <div class="wrapper">
    {{ partial "blog/category-list" . }}
  </div>
</div>
<section class="block">
  <div class="blog-container wrapper-lg">
    {{ $paginator := .Paginate ( where .Data.Pages "Type" "blog" ) }}
    {{ range $paginator.Pages }}
    {{ .Render "article" }}
    {{ end }}
  </div>
  <div class="wrapper-lg">
    {{ partial "blog/custom-pagination.html" . }}
  </div>
</section>
{{ end }}