.angle {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
  }
}

.angle-white {
  &::after {
    background: $white;
    height: $ic-600;
  }
}

.angle-blue {
  &::after {
    background: $primary-color;
    height: $ic-800;
  }
}

.angle-blue-to-left {
  &::after {
    clip-path: polygon(0 0, 100% 0, 100% 20%, 0 100%);
  }
}

.angle-blue-to-right {
  &::after {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 20%);
  }
}

.angle-to-left {
  &::after {
    clip-path: polygon(100% 0, 0 0, 0 100%);
  }
}

.angle-to-right {
  &::after {
    clip-path: polygon(100% 0, 0 0, 100% 100%);
  }
}

.angle-top {
  &::after {
    top: -1px;
  }
}

.angle-bottom {
  &::after {
    top: calc(100% - 1px);
  }
}
