.breadcrumbs {
  margin: 0;

  &__nav {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__list-item {
    display: inline-block;
  }

  &__link {
    padding: 0 1rem;
    text-decoration: none;
    font-size: $ic--200;

    &:hover,
    &:focus {
      color: $primary-color;
    }

    @include breakpoint(md) {
      font-size: $ic-200;
    }
  }

  svg {
    stroke: $white;
    width: $ic-100;
    height: $ic-100;
  }

  span:last-of-type {
    display: none;
  }
}

.breadcrumbs .active {
  display: none;
}

.capabilities .breadcrumbs,
.about .breadcrumbs,
.contact .breadcrumbs,
.machining-news-from-a-to-z-hero-intro .breadcrumbs,
.request-a-quote .breadcrumbs,
.industries .breadcrumbs,
.equipment .breadcrumbs {
  display: none;
}
