.btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 900;
  padding: 0.5rem $ic-300;
  text-decoration: none;
  transition: 0.3s ease-in-out;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    content: "";
    background-color: $primary-color;
    transform: $skew;
    transition: 0.3s ease-out;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    content: "";
    width: 10px;
    background-color: $primary-color;
    transform: $skew translateX(0);
    transition: 0.3s ease-out;
  }
}

.btn--primary {
  color: $white;

  &:hover,
  &:focus {
    color: $white;

    &::before {
      background-color: $black;
    }

    &::after {
      transform: $skew translateX(15px);
    }
  }
}

.btn--secondary {
  color: $white;
  transition: 0.3s ease-out;

  &::before {
    background-color: $primary-color;
  }

  &::after {
    right: 5px;
    background-color: $white;
  }

  &:hover,
  &:focus {
    color: $primary-color;

    &::before {
      background-color: $white;
    }

    &::after {
      background-color: $primary-color;
      transform: $skew translateX(20px);
    }
  }
}

.btn--white {
  color: $primary-color;

  &::before {
    background-color: $white;
  }

  &::after {
    background-color: $white;
  }

  &:hover,
  &:focus {
    color: $white;

    &::before {
      background-color: $black;
    }

    &::after {
      transform: $skew translateX(15px);
    }
  }
}

button {
  cursor: pointer;
}
