.home-hero {
  height: 50vh;

  &::before,
  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &::before {
    content: "";
    background: rgba($black, 0.5);
    background: transparent
      linear-gradient(0deg, #333f488c 0%, #333f48 48%, #333f488c 100%) 0% 0%
      no-repeat padding-box;
    mix-blend-mode: multiply;
    opacity: 1;
  }

  &__image {
    height: 100%;
    object-fit: cover;
    object-position: 70%;

    @include breakpoint(md) {
      object-position: center;
    }
  }

  &__inner {
    display: grid;
    place-items: center;

    p {
      max-width: 45ch;
      font-size: $ic-300;
      margin: $ic-300 auto;
    }
  }
}

.hero {
  height: 50vh;

  &__image {
    height: 100%;
    object-fit: cover;
    object-position: 70%;

    @include breakpoint(md) {
      object-position: center;
    }
  }
}

.home-hero,
.hero {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    background: $primary-color;
    height: $ic--100;
    clip-path: polygon(0 0, 100% 0, 100% 20%, 0 100%);
    top: calc(100% - 1px);

    @include breakpoint(md) {
      height: $ic-800;
    }
  }
}

.capabilities-hero,
.request-a-quote-hero,
.machining-news-from-a-to-z-hero-intro,
.contact-hero {
  .btn-primary {
    display: none;
  }
}

.machining-news-from-a-to-z span {
  display: inline-block;
}
