.principles-card {
  position: relative;
  min-height: 350px;
  max-height: 450px;
  height: 100%;
  overflow: hidden;

  &__overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $black;
    mix-blend-mode: multiply;
    opacity: 1;
  }

  img,
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  img {
    object-fit: cover;
    height: 110%;
    width: 110%;
    opacity: 0.5;
  }

  &__content {
    z-index: 2;
    padding: $ic-400;
    max-width: 50ch;
    width: 100%;
  }
}
