<article class="fade-up blog-summary">
    <a href="{{ .Permalink }}" class="blog-summary__link">
      <div class="flex flex-column">
        <div class="blog-summary__image-wrap">
          {{ if .Params.seo.featured_image }}
              <picture>
                  <source srcset="https://res.cloudinary.com/atozmachine/image/upload/f_avif,q_85,w_500{{ .Params.seo.featured_image }}" type="image/avif">

                  <source srcset="https://res.cloudinary.com/atozmachine/image/upload/f_webp,q_85,w_500{{ .Params.seo.featured_image }}" type="image/webp">

                  <source srcset="https://res.cloudinary.com/atozmachine/image/upload/f_jpg,q_85,w_500{{ .Params.seo.featured_image }}" type="image/jpg">
              
                  <img class="blog-summary__image" src="https://res.cloudinary.com/atozmachine/image/upload{{ .Params.seo.featured_image }}" alt="{{ .Params.seo.featured_image_alt }}" width="500" height="300" loading="lazy">   
              </picture>
          {{  end }}
        </div>
        <div class="blog-summary__content flow">
          <h3 class="blog-summary__title h4">{{ .Title }}</h3>
          <p class="blog-summary__summary">
            {{ if .Params.summary }}{{ .Params.summary | truncate 90 | safeHTML }}{{ else }}{{ .Summary  | truncate 90 | safeHTML }}{{ end }}
          </p>
          <span class="btn btn--secondary">Read More</span>
        </div>
      </div>
    </a>
  </article>