.footer {
  background-color: $black;
  color: $white;
  padding: $ic-700 0;
  font-size: $ic-200;

  &__col {
    padding: 1rem;
  }

  &__social {
    display: flex;
    align-items: center;

    li {
      list-style-type: none;
      margin: 0;

      a {
        padding: $ic-100;
      }
    }
  }

  &__quick-links {
    columns: 2;
    padding: 0;

    li {
      list-style-type: none;
    }
  }

  &__wrapper {
    display: grid;
    gap: $ic-400;

    @include breakpoint(md) {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: $ic-400;
    }
  }

  a {
    color: $white;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  p {
    margin-bottom: 0;
  }

  &__nav {
    display: flex;
    justify-content: center;

    ul {
      margin-bottom: 0;
    }
  }

  &__nav-list {
    display: flex;
    padding: 0;
  }

  &__nav-list-item {
    display: flex;
    list-style-type: none;
    margin-top: 0;
  }

  svg {
    width: $ic-600;
    fill: $white;
  }
}
