.site-header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  background-color: $white;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    background: $white;
    height: $ic--200;
    clip-path: polygon(100% 0, 0 0, 0 100%);
    top: calc(100% - 1px);

    @include breakpoint(md) {
      height: $ic-600;
    }
  }

  &__top {
    background: $black;
    display: none;

    @include breakpoint(md) {
      display: flex;
    }
  }

  &__top-inner {
    width: 100%;
  }

  &__secondary-menu {
    margin: 0;

    li {
      list-style-type: none;
      margin-top: 0;
      padding: $ic-100;

      a {
        color: $white;
        text-decoration: none;
        font-size: 1.125rem;
        font-weight: 900;
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-left: $ic-300;
    padding-right: $ic-300;

    @include breakpoint(md) {
      overflow: visible;
    }
  }

  &__logo {
    display: grid;

    .brand-logo {
      img {
        width: 100%;
        max-width: 160px;
        padding: $ic-100;

        @include breakpoint(md) {
          max-width: 275px;
        }
      }
    }
  }

  &__nav-wrapper {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    transform: translateX(120%);
    transition: 0.3s ease-in-out;
    background-color: $white;
    padding: 0;
    opacity: 0;
    margin: 0;
    padding: $ic-300;

    @include breakpoint(md) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      background-color: transparent;
      width: auto;
      position: relative;
      top: 0;
      left: 0;
      transform: translateX(0);
      opacity: 1;
      padding: 0;
    }
  }

  &__nav-item {
    list-style-type: none;
    margin-top: 0;
    padding: $ic-100;

    @include breakpoint(md) {
      display: inline-block;
    }
  }

  &__link {
    position: relative;
    text-decoration: none;
    color: $black;
    font-family: $secondary-font;
    font-size: $ic-200;
    font-weight: 700;

    &::after {
      background: $primary-color;
      height: 3px;
      width: 100%;
      transform: $skew translateY(5px);
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      opacity: 0;
      transition: 0.3s ease-out;
    }

    @include breakpoint(md) {
      &:hover,
      &:focus {
        color: $primary-color;
        font-weight: 900;

        &::after {
          opacity: 1;
          transform: $skew translateY(0);
        }
      }
    }
  }
}

.current {
  &::after {
    background: $primary-color;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    opacity: 1;
  }
}

.nav-open {
  transform: translateX(0);
  opacity: 1;
  overflow: hidden;
  visibility: visible;
  border-top: 3px solid $secondary-color;

  .nav-list__item {
    animation: slideIn ease-in-out 0.5s forwards 0.5s;
    opacity: 0;
  }

  .nav-list__item:nth-child(1) {
    animation-delay: 0.1s;
  }

  .nav-list__item:nth-child(2) {
    animation-delay: 0.2s;
  }

  .nav-list__item:nth-child(3) {
    animation-delay: 0.3s;
  }

  .nav-list__item:nth-child(4) {
    animation-delay: 0.4s;
  }

  .nav-list__item:nth-child(5) {
    animation-delay: 0.5s;
  }

  .nav-list__item:nth-child(6) {
    animation-delay: 0.6s;
  }

  .nav-list__item:nth-child(7) {
    animation-delay: 0.7s;
  }

  .nav-item {
    border-bottom: 1px solid $secondary-color;
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.collapse {
  @include breakpoint(md) {
    animation: collapse 0.5s ease forwards;
  }
}

// Open nav bar on scroll up
.expand {
  @include breakpoint(md) {
    animation: expand 0.5s ease forwards;
  }
}

@keyframes collapse {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes expand {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
