.site-header {
  width: 100%;
  position: relative;
  top: 0;
  right: 0;
  z-index: 9;
  background-color: $white;

  @include breakpoint(md) {
    position: fixed;
  }

  &::after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    background: $white;
    height: $ic--200;
    clip-path: polygon(100% 0, 0 0, 0 100%);
    top: calc(100% - 1px);

    @include breakpoint(md) {
      height: $ic-600;
    }
  }

  &__top {
    background: $black;
    display: none;

    @include breakpoint(md) {
      display: flex;
    }
  }

  &__top-inner {
    width: 100%;
  }

  &__secondary-menu {
    margin: 0;

    li {
      list-style-type: none;
      margin-top: 0;
      padding: $ic-100;

      a {
        color: $white;
        text-decoration: none;
        font-size: 1.125rem;
        font-weight: 900;
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-left: $ic-300;
    padding-right: $ic-300;

    @include breakpoint(md) {
      overflow: visible;
    }
  }

  &__logo-wrap {
    padding: $ic-200;
  }

  &__logo {
    display: block;
    block-size: 26px;
    inline-size: 170px;
    background-image: url("/images/a-to-z-logo.svg");
    background-size: 170px 26px;
  
    @include breakpoint(lg) {
      block-size: 43px;
      inline-size: 275px;
      background-size: 275px 43px;
    }
  }

  &__mobile-nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: $black;
    overflow: hidden;
    transition: 0.3s ease-out;
    height: 0;

    ul {
      padding: 0;

      li {
        list-style-type: none;
      }
    }

    a {
      color: $white;
      text-decoration: none;
      padding-bottom: $ic-300;
      width: 100%;
      transition: color 0.3s ease-out;

      &:hover,
      &:focus {
        color: $primary-color;
      }
    }

    @include breakpoint(md) {
      display: none;
    }
  }

  &__mobile-nav-inner {
    padding: $ic-500;
  }

  &__contact {
    a {
      width: 100%;
      padding-bottom: 0.5rem;
    }
  }

  &__social {
    display: flex;
    align-items: center;

    li {
      list-style-type: none;
      margin: 0;

      a {
        padding: $ic-100;
      }
    }

    svg {
      width: $ic-300;
      fill: $white;
    }
  }
}

.nav-list {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  transform: translateX(120%);
  transition: 0.3s ease-in-out;
  background-color: $white;
  opacity: 0;
  margin: 0;
  padding: $ic-300;

  @include breakpoint(md) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    width: auto;
    position: relative;
    top: 0;
    transform: translateX(0);
    opacity: 1;
    padding: 0;
  }

  &__item {
    list-style-type: none;
    margin-top: 0;
    padding: $ic-100;

    @include breakpoint(md) {
      display: inline-block;
    }
  }

  &__link {
    position: relative;
    text-decoration: none;
    color: $black;
    font-family: $secondary-font;
    font-size: $ic-200;
    font-weight: 700;
    transition: 0.3s ease-out;

    &::after {
      background: $primary-color;
      height: 3px;
      width: 100%;
      transform: $skew translateY(5px);
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      opacity: 0;
      transition: 0.3s ease-out;
    }

    @include breakpoint(md) {
      &:hover,
      &:focus {
        color: $primary-color;

        &::after {
          opacity: 1;
          transform: $skew translateY(0);
        }
      }
    }
  }
}

.header__nav-list-item.has-sub-menu-open {
  .header__sub-menu {
    max-block-size: 100vh;
  }
}

.header__sub-menu-indicator {
  display: inline-block;
  inline-size: 0;
  block-size: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $white;
  position: relative;
  inset-block-end: 2px;
  inset-inline-end: -8px;
  transition: transform $transition;
}

.header .has-sub-menu {
  &:hover,
  &:focus {
    .header__sub-menu {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}

.header__nav-list-link {
  position: relative;
  font-size: 1.1rem;
  font-weight: 500;
  padding: $ic--200 0;
  transition: .3s ease-out;
  color: $white;

  &::after {
    background-color: $primary-color;
    block-size: 2px;
    inline-size: 100%;
    transform: scaleX(0);
    transform-origin: top left;
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 0;
    content: "";
    transition: transform 0.4s ease-out;
  }

  @include breakpoint(md) {
    &:hover,
    &:focus {
      color: $primary-color;

      &::after {
        transform: scaleX(1);
      }

      .header__sub-menu-indicator {
        transform: rotate(180deg);
      }
    }
  }
}

.header__sub-menu {
  /* Hidden by default until hovered */
  pointer-events: auto;
  overflow: hidden;
  max-block-size: 0;
  transition: max-block-size .5s ease-in-out;
  transition-delay: 0.1s;
  inset-inline-start: 0px;
  position: absolute;
  inset-block-start: 150%;
  inline-size: 300px;
  box-shadow: 0px 20px 30px rgba($black, 0.15);
}

.header__sub-menu-inner {
  inline-size: 100%;
  padding: $ic-100 $ic-200;
}

.header__sub-menu-list {
  padding: $ic-300 0;
  max-inline-size: 100%;
}

.header__sub-menu-item {
  margin: 0;
  padding: .25rem 0;
  break-inside: avoid;
}

.header__sub-menu-link {
  font-size: $ic-100;
  padding: 0.3rem;
  color: $black;
}

.current {
  &::after {
    background: $primary-color;
    height: 3px;
    width: 100%;
    transform: $skew translateY(0);
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    opacity: 1;
    transition: 0.3s ease-out;
  }
}

.collapse {
  @include breakpoint(md) {
    animation: collapse 0.5s ease forwards;
  }
}

// Open nav bar on scroll up
.expand {
  @include breakpoint(md) {
    animation: expand 0.5s ease forwards;
  }
}

@keyframes collapse {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes expand {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-open {
  transform: translateX(0);
  opacity: 1;
  overflow: hidden;
  visibility: visible;
}
