.blog-container {
  display: grid;
  gap: $ic-400;

  @include breakpoint(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(md) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog-content {
  padding: 0 2rem 6rem 2rem;
  margin-top: -50px;
  position: relative;

  figure img {
    margin: 0 auto;
  }

  blockquote {
    border-left: 5px solid $primary-color;
    padding: 2rem;

    p {
      margin-bottom: 0;
    }
  }
}

.blog-summary {
  border: 1px solid rgba($black, 0.3);

  &__link {
    color: $black;
    text-decoration: none;
    width: 100%;

    h3 {
      transition: 0.3s ease-out;
    }

    &:hover,
    &:focus {
      color: $black;

      .blog-summary__img {
        opacity: 0.7;
      }

      .btn-primary::before {
        background-color: $black;
      }

      .btn-primary::after {
        transform: $skew translateX(15px);
      }
    }
  }

  &__image-wrap {
    height: 300px;
  }

  &__image {
    opacity: 1;
    transition: opacity 0.3s ease-out;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &__content {
    padding: $ic-400;
  }

  &__title {
    margin-bottom: 0;
  }

  &__summary {
    transition: 0.3s ease-out;
  }

  &__read-more {
    margin: 1rem 0;
  }
}
