.contact,
.request-a-quote {
  .w-60-m + .w-40-m {
    margin-top: $ic-900;

    @include breakpoint(md) {
      margin-top: 0;
      margin-left: $ic-900;
    }
  }
}

.contact-form {
  padding: $ic-900 $ic-600;

  &__wrapper {
    padding: $ic-900 0;
    border-top: 1px solid $gray;
  }

  &__netlify-bot-field {
    opacity: 0;
    height: 0;
    width: 0;
    margin: 0;
  }

  &__form-group label {
    flex: 0 0 25%;
  }

  .contact-form__form-group input,
  .contact-form__form-group textarea,
  .contact-form__form-group select {
    border: 1px solid rgba($gray, 0.5);
    width: 100%;
    padding: $ic-400 $ic-200;
    margin-bottom: $ic-200;
    flex: 1 1 75%;
  }

  &__form-group input {
    height: $ic-700;
  }

  .radio {
    align-items: center;

    input {
      width: auto;
      margin-bottom: 0;
      margin-right: $ic-200;
    }
  }

  .date-wrapper {
    .contact-form__form-group + .contact-form__form-group {
      margin-left: $ic-200;
    }
  }

  &__form-group textarea {
    height: 10rem;
  }

  &__btn {
    border: none;
    background: transparent;
  }
}

.contact-info {
  iframe {
    height: 350px;
  }

  &__contact-list {
    padding: $ic-600 $ic-900;
  }

  &__contact-list-item {
    .brand-logo {
      max-width: 200px;
    }

    h2 {
      flex: 0 0 25%;
    }

    a {
      flex: 1 1 75%;
    }
  }

  &__social {
    list-style-type: none;
    padding: $ic-200 0;
  }

  &__social-list-item {
    margin-top: 0;
  }

  &__social-icon {
    padding: $ic-200;

    svg {
      fill: $primary-color;
      height: $ic-400;
      width: $ic-400;
    }
  }
}
