.equipment-hero {
  background-image: url("/images/Doosan-horizontal-lathe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.equipment {
  .hero__image {
    object-position: 50%;
  }
}

.equipment-list {
  ul {
    list-style: none;
    padding: 0;
  }

  ul ul {
    padding-left: 40px;
  }
}

.miscellaneous-hero-intro,
.welding-hero-intro {
  p {
    display: none;
  }
}

.miscellaneous {
  .equipment-list {
    @include breakpoint(md) {
      padding-left: 40px;
    }
  }
}
