.intro {
  .certifications {
    flex-wrap: wrap;
    gap: $ic-100;

    @include breakpoint(md) {
      flex-wrap: nowrap;
    }

    img {
      max-width: 130px;
      height: 100%;
      margin-block: auto;
      margin-inline: auto;
      padding: .5rem;
    }
  }
}

.industries-served {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    background: $white;
    height: $ic--200;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    top: -1px;

    @include breakpoint(md) {
      height: $ic-600;
    }
  }

  &::after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    background: $primary-color;
    height: $ic--100;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 20%);
    top: calc(100% - 1px);

    @include breakpoint(md) {
      height: $ic-800;
    }
  }

  ul {
    @include breakpoint(md) {
      columns: 2;
    }
  }
}

.multi-button-wrapper {
  .btn + .btn {
    margin-top: $ic-300;

    @include breakpoint(md) {
      margin-top: 0;
    }
  }
}

.stacked-images {
  picture img,
  img {
    margin-top: $ic-800;
  }

  @include breakpoint(md) {
    position: relative;
    z-index: 1;
    top: -5.852rem;
    right: -5.852rem;

    picture img,
    img {
      margin-top: 0;
    }

    picture + picture {
      img {
        margin-top: $ic-800;
      }
    }

    img + img {
      margin-top: $ic-800;
    }
  }
}

.capabilities p {
  max-width: 100%;
}
