<div class="contact-info bg-gray">
    <iframe title="Google map location for A to Z Machine in Appleton, WI" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11424.118613347066!2d-88.366207!3d44.288779!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa5e9485ef031571d!2sA%20To%20Z%20Machine%20Company%2C%20Inc.!5e0!3m2!1sen!2sus!4v1633644337440!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <ul class="contact-info__contact-list flow">
      <li class="contact-info__contact-list-item flex">
        <a class="brand-logo" href="{{ site.BaseURL }}">
            <img src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}" class="img-responsive dim" width="200" height="100">
        </a>
      </li>
      <li class="contact-info__contact-list-item flex">
        <h2 class="h4 no-margin">Address</h2>
        <div>
          {{ .Site.Data.site_settings.address | markdownify }}
          <a href="{{ .Site.Data.site_settings.google_map_url }}" target="_blank" rel="noopener noreferrer" class="contact-info__contact-link flex flex-center">
            Get Directions</a>
        </div>
      </li>
      <li class="contact-info__contact-list-item flex">
        <h2 class="h4 no-margin">Phone</h2>
        <a href="tel:{{.Site.Data.site_settings.phone}}" class="contact-info__contact-link flex flex-center">
        {{ .Site.Data.site_settings.phone }}</a>
      </li>
      <li class="contact-info__contact-list-item flex">
        <h2 class="h4 no-margin">Fax</h2>
        {{ .Site.Data.site_settings.fax }}
      </li>
      <ul class="contact-info__social flex flex-center">
        {{ range .Site.Data.site_settings.social_media }}
        <li class="contact-info__social-list-item">
          <a href="{{ .social.link }}" class="contact-info__social-icon" target="_blank" rel="noopener noreferrer">
            {{ if eq .title "Facebook" }}
            {{ partial "svg-icons/facebook.svg" . }}
            {{ else if eq .title "LinkedIn"}}
            {{ partial "svg-icons/linkedin.svg" . }}
            {{ else if eq .title "YouTube"}}
            {{ partial "svg-icons/youtube.svg" . }}
            {{ end }}
            <span class="visually-hidden">{{ .title }}</span>
          </a>
        </li>
        {{ end }}
      </ul>
    </ul>
  </div>