<footer id="footer" class="footer">
  <div class="footer__inner wrapper-md flex flex-column flex-row-m">
    <div class="footer__col w-100 w-40-m">
      <h2 class="underline-primary">A to Z Machine</h2>
      <p>A to Z Machine Co. was founded in 1996 to provide machining and contract manufacturing solutions for customer-specific manufactured goods and services.</p>
      <p>Follow us for ongoing innovations:</p>
      <ul class="footer__social">
        {{ range .Site.Data.site_settings.social_media }}
        {{ if .link }}
        <li class="footer__social-list-item">
          <a href="{{ .link }}" class="footer__social-icon flex flex-center" target="_blank" rel="noopener noreferrer">
            {{ if eq .title "Facebook" }}
            {{ partial "svg-icons/facebook.svg" . }}
            {{ else if eq .title "LinkedIn"}}
            {{ partial "svg-icons/linkedin.svg" . }}
            {{ else if eq .title "YouTube"}}
            {{ partial "svg-icons/youtube.svg" . }}
            {{ else if eq .title "Instagram"}}
            {{ partial "svg-icons/instagram.svg" . }}
            {{ else if eq .title "Twitter"}}
            {{ partial "svg-icons/twitter.svg" . }}
            {{ else if eq .title "Google"}}
            {{ partial "svg-icons/google.svg" . }}
            {{ end }}
            <span class="visually-hidden">{{ .title }}</span>
          </a>
        </li>
        {{ end }}
        {{ end }}
      </ul>
    </div>
    <div class="footer__col w-100 w-20-m">
      <h2 class="h3 underline-primary">Contact Us</h2>
      <div>
        {{ .Site.Data.site_settings.address.street }}
        <br>
        {{ .Site.Data.site_settings.address.city }}, {{ .Site.Data.site_settings.address.state }} {{ .Site.Data.site_settings.address.zip }}
        <br>
        <strong>Phone:</strong> <a href="tel:{{ .Site.Data.site_settings.phone }}"> {{ .Site.Data.site_settings.phone }}</a>
        <br>
        <strong>Fax:</strong> {{ .Site.Data.site_settings.fax }}
        <img src="/images/mms-top-shop-logo-transparent.png" alt="Modern Machine Shop logo" class="footer-mms-logo">
      </div>
    </div>
    <div class="footer__col w-100 w-40-m">
      <h2 class="h3 underline-primary">Quick Links</h2>
      <ul class="footer__quick-links">
        <li><a href="/capabilities/">Capabilities</a></li>
        <li><a href="/equipment/">Equipment</a></li>
        <li><a href="/industries/">Industries</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/capabilities/cnc-machining/">CNC Machining</a></li>
        <li><a href="/capabilities/fabrication/">Fabrication</a></li>
        <li><a href="/request-a-quote/">Request a quote</a></li>
        <li><a href="/careers/">Careers</a></li>
      </ul>
    </div>
  </div>
  <div class="footer__copyright flex flex-column flex-row-m flex-center flex-justify-between wrapper-md">
    <p>© {{ dateFormat "2006" now }} {{ .Site.Data.site_settings.business_name }}. All Rights Reserved. Designed and developed by <a href="https://insightcreative.com/" target="_blank">Insight Creative, Inc.</a></p>
    <nav class="footer__nav">
      <ul class="footer__nav-list">
        <li class="footer__nav-list-item"><a href="/sitemap/" class="footer__nav-item">Sitemap</a></li>
        <li class="footer__nav-list-item"><a href="/privacy-policy/" class="footer__nav-item">Privacy Policy</a></li>
        <li class="footer__nav-list-item"><a href="/terms-and-conditions/" class="footer__nav-item">Terms and Conditions</a></li>
      </ul>
    </nav>
  </div>
</footer>
{{ partial "scripts" . }}