<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
    <title>{{ if .Params.seo.title }}{{ .Params.seo.title | markdownify }}{{ else }}{{ .Title }}{{ end }} | {{ .Site.Title }}</title>

    <meta itemprop="name" content="{{ .Title }}">
    <meta itemprop="description" content="{{ .Params.seo.description }}">
    <meta itemprop="image" content="{{ if .Params.seo.featured_image }}{{ .Permalink }}{{ .Params.seo.featured_image }}{{ end }}">

    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ if .Params.seo.title }}{{ .Params.seo.title  | markdownify }}{{ else }}{{ .Title }}{{ end }} | {{ .Site.Title }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content="{{ if .Params.seo.featured_image }}{{ .Permalink }}{{ .Params.seo.featured_image }}{{ end }}">
    <meta property="og:description" content="{{ .Params.seo.description }}">
    <meta name="description" content="{{ .Params.seo.description }}">

    <link rel="canonical" href="{{ .Permalink }}">

    <meta property="twitter:card" content="summary">
    <meta property="twitter:url" content="{{ .Permalink }}">
    <meta property="twitter:title" content="{{ .Params.seo.title }}">
    <meta property="twitter:description" content="{{ .Params.seo.description }}">
    <meta property="twitter:site" content="@">
    <meta property="twitter:image" content="{{ if .Params.seo.featured_image }}{{ .Permalink }}{{ .Params.seo.featured_image }}{{ end }}">

    {{ with resources.Get "scss/critical.scss" | toCSS | resources.PostCSS | minify }}
    <style>{{ .Content | safeCSS }}</style>
    {{ end }}

    {{ $scss := resources.Get "scss/main.scss" | toCSS }}
    {{ $postcss := $scss | resources.PostCSS | minify }}
    <link rel="preload" href="{{ $postcss.Permalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ $postcss.Permalink }}"></noscript>

    {{ $darkscss := resources.Get "scss/dark.scss" | toCSS }}
    {{ $postcssdark := $darkscss | resources.PostCSS | minify }}
    <link rel="stylesheet" href="{{ $postcssdark.Permalink }}" media="(prefers-color-scheme: dark)">

    <link rel="preconnect" href="https://www.google-analytics.com">

    <link rel="preload" href="https://use.typekit.net/ulp1qqb.css" as="style">

    <link rel="icon" href="/images/favicon.svg">
    <link rel="mask-icon" href="mask-icon.svg" color="#000000">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    {{ template "_internal/google_analytics.html" . }}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <link rel="stylesheet" href="/plugins/photoswipe/css/photoswipe.css">
    <link rel="stylesheet" href="/plugins/photoswipe/css/default-skin.css">

    <script defer src="/plugins/photoswipe/js/photoswipe.min.js"></script>
    <script defer src="/plugins/photoswipe/js/photoswipe-ui-default.min.js"></script>

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
    <script type="text/javascript">
    algoliasearchNetlify({
    appId: 'K5YSK8T107',
    apiKey: 'efc5aef64f53b444b7d4b51d3f87e0a1',
    siteId: 'd7ea10c4-0d62-47b7-bda3-beec8ddc36e0',
    branch: 'master',
    selector: 'div#search',
    theme: {
    mark: '#fff',
    background: '#23263b',
    selected: '#111432',
    text: '#d6d6e7',
    colorSourceIcon: '#d6d6e7'
  }
    });
    </script>

    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <link rel="stylesheet" href="https://use.typekit.net/ulp1qqb.css">

</head>