{{ $heroClass := lower .Page.Title }}
<section class="{{ anchorize $heroClass }}-hero-intro">
  <div class="block w-100">
    <div class="wrapper-sm flow">
      {{ partial "breadcrumbs" . }}
      <h1 class="no-margin text-center">
        {{ .Params.hero.heading | markdownify }}
      </h1>
      {{ if .Params.hero.subhead }}
      <h2 class="text-center text-primary">
        {{ .Params.hero.subhead | markdownify }}
      </h2>
      {{ end }}
      <p>{{ .Params.hero.body | markdownify }}</p>
    </div>
  </div>
</section>
