<section class="industries-served block bg-black">
    <div class="wrapper-md flex flex-column flex-row-m">
        <div class="w-100 w-60-m text-white flow">
            <h2>{{ .heading }}</h2>
            <p>{{ .body }}</p>
            {{ .industries | markdownify }}
            <div class="multi-button-wrapper flex flex-column flex-row-m flex-justify-around">
                <a href="{{ .link1 }}" class="btn btn-primary--rev">{{ .button_text1 }}</a>
                <a href="{{ .link2 }}" class="btn btn-primary--rev">{{ .button_text2 }}</a>
            </div>
        </div>
        <div class="stacked-images w-100 w-30-m">
            <img src="{{ .image1 }}" alt="{{ .image1_alt }}">
            <img src="{{ .image2 }}" alt="{{ .image2_alt }}">
        </div>
    </div>
</section>