<section class="testimonials block" aria-label="Testimonial Slider">
    <div class="wrapper-lg padding-top-10">
        <div class="slider">
            <div role="status" aria-live="assertive" class="visually-hidden"></div>
            <div class="slider__wrapper">
                <div class="slider__content">
                    <div class="slider__slide is-selected">
                        <div class="slider__quote">
                            {{ partial "svg-icons/quote.svg" . }}
                        </div>
                        <div class="slider__slide-content flow">
                            <p class="slider__testimonial">"A to Z’s machining skills, along with their emphasis on quality and delivery, are the reasons that we entrust them with production of Pierce’s most critical suspension and steering components.  Their ability to support a product from prototype through production is a key factor in the longevity of our partnership."</p>
                            <div class="slider__author">
                                <h3 class="h5 no-margin">Chris Campbell</h4>
                                <span class="no-margin">Commodity Manager | Pierce Fire and Emergency</span>
                            </div>
                        </div>
                    </div>
                    <div class="slider__slide flow">
                        <div class="slider__quote">
                            {{ partial "svg-icons/quote.svg" . }}
                        </div>
                        <div class="slider__slide-content flow">
                            <p class="slider__testimonial">"A to Z’s competitiveness and on-time delivery is a product of their machining expertise, innovative mindset and ability to truly understand their business’ capabilities, capacity and sweet spot."</p>
                            <div class="slider__author">
                                <h3 class="h5 no-margin">Jessica Vanevenhoven</h4>
                                <span class="no-margin">Commodity Manager | Oshkosh Defense, LLC</span>
                            </div>
                        </div>
                    </div>
                    <div class="slider__slide flow">
                        <div class="slider__quote">
                            {{ partial "svg-icons/quote.svg" . }}
                        </div>
                        <div class="slider__slide-content flow">
                            <p class="slider__testimonial">"A to Z Machine has gone, and continues to go, above and beyond for our company time and time again. We are very pleased with their communication and transparency of when our product will be delivered. In the past year, we have implemented an inventory plan that has cut our overall lead time to our customer in half. Not to mention, on-time delivery and quality are outstanding."</p>
                            <div class="slider__author">
                                <h3 class="h5 no-margin">Curt Wayne</h4>
                                <span class="no-margin">Materials Buyer | Seabee Cylinders</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__dots">
                <button class="slider__dot is-selected" name="slider control"></button>
                <button class="slider__dot" name="slider control"></button>
                <button class="slider__dot" name="slider control"></button>
            </div>
        </div>
    </div>
</section>
