{{ define "main" }}

{{ if .Params.hero }}
  {{ with .Params.hero }}
    {{ partial "hero-split" . }}
  {{ end }}
{{ end }}

{{ if .Params.intro }}
  {{ with .Params.intro }}
    {{ partial "intro" . }}
  {{ end }}
{{ end }}

<div class="block bg-gray">
  <div class="wrapper-lg">
    <div class="benefit-cards">
      {{ with .Params.benefits }}
        {{ range .benefit }}
        <div class="benefit-card">
          {{ if eq .heading "Strong compensation & savings" }}
          {{ partial "svg-icons/salary.svg" . }}
          {{ else if eq .heading "Health insurance benefits" }}
          {{ partial "svg-icons/health-heart.svg" . }}
          {{ else if eq .heading "Life insurance benefits" }}
          {{ partial "svg-icons/life-insurance-2.svg" . }}
          {{ else if eq .heading "Flexible schedules & perks" }}
          {{ partial "svg-icons/calendar.svg" . }}
          {{ else if eq .heading "Employee appreciation events" }}
          {{ partial "svg-icons/people.svg" . }}
          {{ else if eq .heading "Employee reimbursements" }}
          {{ partial "svg-icons/reimbursement.svg" . }}
          {{ end }}
          <h3 class="h4 text-center">{{ .heading }}</h3>
          <p>{{ .body }}</p>
        </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>
<div class="flex flex-column flex-row-m">
  <div class="w-100 w-50-m text-column bg-primary text-white flex flex-column flex-justify-center flow">
    <h2>{{ .Params.employment_disclaimer.heading }}</h2>
    <p>{{ .Params.employment_disclaimer.body }}</p>
  </div>
  <div class="w-100 w-50-m image-column image-column--alt">
     {{ partial "responsive-image" (dict "Page" . "image" .Params.employment_disclaimer.image.image_src ) }}
  </div>
</div>
{{ partial "swiper-slider" . }}
<div class="flex flex-column flex-row-m">
  <div class="w-100 w-50-m image-column video-trigger">
     {{ partial "responsive-image" (dict "Page" . "image" .Params.apprenticeship.image.image_src ) }}
     {{ partialCached "video-button" . }}
  </div>
  <div class="w-100 w-50-m text-column bg-gray flex flex-column flex-justify-center flow">
    <h2>{{ .Params.apprenticeship.heading }}</h2>
    <p>{{ .Params.apprenticeship.body }}</p>
    <button class="btn btn--primary secondary-video-trigger">Watch to learn more</button>
  </div>
</div>
<div class="video-overlay">
  <div class="video-overlay__inner">
    <button title="close the video" aria-label="close the video popup" class="video-overlay__button">{{ partial "svg-icons/close.svg" . }}</button>
    {{ .Content }}
  </div>
</div>
{{ end }}