{{ define "main" }}
{{ partial "careers-hero" (dict "Page" . "image" .Params.seo.featured_image "alt" .Params.seo.featured_image_alt "heading" .Params.hero.heading "body" .Params.hero.body ) }}
<div class="flex flex-column flex-row-m">
  <div class="w-100 w-60-m image-column">
     {{ partial "responsive-image" (dict "Page" . "image" .Params.benefits.image ) }}
  </div>
  <div class="w-100 w-40-m text-column bg-gray flex flex-column flex-justify-center flow">
    <h2>{{ .Params.benefits.heading }}</h2>
    <p>{{ .Params.benefits.body }}</p>
  </div>
</div>
<div class="block">
  <div class="wrapper-lg">
    <div class="benefit-cards">
      {{ with .Params.benefits }}
        {{ range .benefit }}
        <div class="benefit-card">
          {{ if eq .heading "Strong compensation & savings" }}
          {{ partial "svg-icons/salary.svg" . }}
          {{ else if eq .heading "Health insurance benefits" }}
          {{ partial "svg-icons/health-heart.svg" . }}
          {{ else if eq .heading "Life insurance benefits" }}
          {{ partial "svg-icons/life-insurance-2.svg" . }}
          {{ else if eq .heading "Flexible schedules & perks" }}
          {{ partial "svg-icons/calendar.svg" . }}
          {{ else if eq .heading "Employee appreciation events" }}
          {{ partial "svg-icons/people.svg" . }}
          {{ else if eq .heading "Employee reimbursements" }}
          {{ partial "svg-icons/reimbursement.svg" . }}
          {{ end }}
          <h3 class="h4 text-center">{{ .heading }}</h3>
          <p>{{ .body }}</p>
        </div>
        {{ end }}
      {{ end }}
    </div>
    <div class="wrapper">
      <small>{{ .Params.employment_disclaimer }}</small>
    </div>
  </div>
</div>
{{ partial "swiper-slider" . }}
<div class="block bg-gray">
  <div class="wrapper-lg flex flex-column flex-row-m">
    <div class="w-100 w-50-m">
      {{ .Params.benefits.benefits | markdownify }}
      <h2>{{ .Params.apprenticeship.heading }}</h2>
      <p>{{ .Params.apprenticeship.body }}</p>
    </div>
    <div class="w-100 w-50-m">
      {{ .Content }}
    </div>
  </div>
</div>
{{ end }}