{{ define "main" }}

{{ if .Params.hero }}
  {{ with .Params.hero }}
    {{ partial "home-hero" . }}
  {{ end }}
{{ end }}

<section class="intro flex flex-column flex-row-m">
  <div class="w-100 w-50-m image-column video-trigger">
    {{ partial "responsive-image" (dict "Page" . "image" .Params.intro_block.image.image "alt" .Params.intro_block.image.image_alt ) }}
    {{ if .Params.intro_block.youtube_video_id }}
      {{ partialCached "video-button" . }}
    {{ end }}
  </div>
  <div class="w-100 w-50-m text-column flex flex-column flex-justify-center flow">
    <h2>{{ .Params.intro_block.heading }}</h2>
    <p>{{ .Params.intro_block.body }}</p>
    {{ with .Params.intro_block.button }}
      <a href="{{ .link }}" class="btn btn--primary secondary-video-trigge">{{ .button_text }}</a>
    {{ end }}
    <div class="certifications flex flex-justify-center">
      {{ range .Params.intro_block.certifications }}
      <img src="{{ .logo }}" alt="{{ .name }}" height="130" width="130">
      {{ end }}
    </div>
  </div>
</section>
{{ if .Params.intro_block.youtube_video_id }}
  <div class="video-overlay">
    <div class="video-overlay__inner">
      <button title="close the video" aria-label="close the video popup" class="video-overlay__button">{{ partial "svg-icons/close.svg" . }}</button>
      <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">

        <iframe title="A To Z - Your Valued Partner" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;" id="video" src="//www.youtube.com/embed/{{ .Params.intro_block.youtube_video_id }}?enablejsapi=1&html5=1" frameborder="0" allowfullscreen referrerpolicy="strict-origin-when-cross-origin"></iframe>
        
      </div>
    </div>
  </div>
{{ end }}
<section class="industries-served block bg-black">
  <div class="wrapper-md flex flex-column flex-row-m">
    <div class="w-100 w-60-m text-white flow">
      {{ with .Params.industries_block }}
      <h2>{{ .heading }}</h2>
      <p>{{ .body }}</p>
      <span>{{ .industries | markdownify }}</span>
      <div class="multi-button-wrapper flex flex-column flex-row-m flex-justify-around">
        {{ with .button }}
        <a href="{{ .link }}" class="btn btn--secondary">{{ .button_text }}</a>
        {{ end }}
        {{ with .button2 }}
        <a href="{{ .link }}" class="btn btn--secondary">{{ .button_text }}</a>
        {{ end }}
        </div>
        {{ end }}
    </div>
    <div class="stacked-images w-100 w-30-m">
      {{ partial "responsive-image" (dict "Page" . "image" .Params.industries_block.image1.image "alt" .Params.industries_block.image1.image_alt "sizes" "20vw" ) }}
      {{ partial "responsive-image" (dict "Page" . "image" .Params.industries_block.image2.image "alt" .Params.industries_block.image2.image_alt "sizes" "20vw" ) }}
    </div>
  </div>
</section>
{{ with .Params.true_north_block }}
<section class="block">
  <div class="wrapper text-center">
    <h2>{{ .heading }}</h2>
    <p style="margin-inline: auto;">{{.body }}</p>
    {{ with .button }}
      <a href="{{ .link }}" class="btn btn--primary">{{ .button_text }}</a>
    {{ end }}
  </div>
</section>
{{ end }}
{{ partial "swiper-slider" . }}
{{ with .Params.capabilities_block }}
<section class="capabilities block bg-gray">
  <div class="wrapper flow">
    <h2 class="text-center">{{ .heading }}</h2>
    <p class="text-center">{{.body }}</p>
    <div class="flex flex-column flex-row-m">
      {{ range .capabilities }}
      <a href="{{ .link }}" class="capabilities-card w-100 w-50-m cover-image">
        <img src="{{ .image }}" alt="{{ .image_alt }}">
        <div class="capabilities-card__title-wrapper flex flex-justify-center">
          <span class="capabilities-card__title text-center">{{ .title }}</span>
        </div>
      </a>
      {{end }}
    </div>
  </div>
</section>
{{ end }}
{{ partialCached "careers-cta" . }}
{{ end }}
