{{ define "main" }}
{{ partial "home-hero" (dict "Page" . "image" .Params.hero.image.hero_image "alt" .Params.hero.hero_image_alt "heading" .Params.hero.heading "body" .Params.hero.body ) }}
{{ with .Params.intro_block }}
<section class="intro block">
  <div class="wrapper">
    <h2 class="text-center editable">{{ .heading }}</h2>
  </div>
  <div class="wrapper flex flex-column-reverse flex-row-m">
    <div class="w-100 w-50-m">
      <p class="editable">{{.body }}</p>
    </div>
    <div class="w-100 w-50-m">
      <div class="certifications flex flex-justify-center">
        {{ range .certifications }}
        <img src="{{ .logo }}" alt="{{ .name }}" height="130" width="130" class="editable">
        {{ end }}
      </div>
    </div>
  </div>
  {{ with .button }}
  <div class="wrapper text-center">
    <a href="{{ .link }}" class="btn btn-primary editable">{{ .button_text }}</a>
  </div>
  {{ end }}
</section>
{{ end }}
<section class="industries-served block bg-black">
  <div class="wrapper-md flex flex-column flex-row-m">
    <div class="w-100 w-60-m text-white flow editable">
      {{ with .Params.industries_block }}
      <h2>{{ .heading }}</h2>
      <p>{{ .body }}</p>
      {{ .industries | markdownify }}
      <div class="multi-button-wrapper flex flex-column flex-row-m flex-justify-around">
        {{ with .button }}
        <a href="{{ .link }}" class="btn btn-primary--rev">{{ .button_text }}</a>
        {{ end }}
        {{ with .button2 }}
        <a href="{{ .link }}" class="btn btn-primary--rev">{{ .button_text }}</a>
        {{ end }}
        </div>
        {{ end }}
    </div>
    <div class="stacked-images w-100 w-30-m">
      {{ partial "responsive-image" (dict "Page" . "image" .Params.industries_block.image1.image "alt" .Params.industries_block.image1.image_alt "sizes" "20vw" ) }}
      {{ partial "responsive-image" (dict "Page" . "image" .Params.industries_block.image2.image "alt" .Params.industries_block.image2.image_alt "sizes" "20vw" ) }}
    </div>
  </div>
</section>
{{ partial "swiper-slider" . }}
{{ with .Params.capabilities_block }}
<section class="capabilities block bg-gray">
  <div class="wrapper flow">
    <h2 class="text-center editable">{{ .heading }}</h2>
    <p class="text-center editable">{{.body }}</p>
    <div class="flex flex-column flex-row-m">
      {{ range .capabilities }}
      <a href="{{ .link }}" class="capabilities-card w-100 w-50-m cover-image editable">
        <img src="{{ .image }}" alt="{{ .image_alt }}">
        <div class="capabilities-card__title-wrapper flex flex-justify-center">
          <span class="capabilities-card__title text-center">{{ .title }}</span>
        </div>
      </a>
      {{end }}
    </div>
  </div>
</section>
{{ end }}
{{ partialCached "careers-cta" . }}
{{ end }}
