{{ define "main" }}
{{ partial "hero" (dict "Page" . "image" .Params.hero.hero_image "alt" .Params.hero.hero_image_alt "heading" .Params.hero.heading "body" .Params.hero.body ) }}
<div class="wrapper-lg">
  <div class="block">
    <div class="flex flex-column flex-row-m">
      <div class="w-100 w-60-m">
        <div class="contact-form">
          <h4 class="no-margin">Send a Message</h4>
          <div class="contact-form__wrapper">
              <form name="contact" netlify netlify-honeypot="bot-field" action="/thank-you">
                  <div hidden>
                      <label>
                        Don’t fill this out if you're human: 
                        <input name="bot-field" />
                      </label>
                  </div>
                  <div class="contact-form__form-group">
                      <label for="name">Name*</label>
                      <input name="name" type="name" class="contact-form__form-control" required>
                  </div>
                  <div class="contact-form__form-group">
                      <label for="email">Email*</label>
                      <input name="_replyto" type="email" class="contact-form__form-control" required>
                  </div>
                  <div class="contact-form__form-group">
                      <label for="email">Phone*</label>
                      <input name="phone" type="phone" class="contact-form__form-control" required>
                  </div>
                  <div class="contact-form__form-group">
                      <label for="message">Message*</label>
                      <textarea name="message" class="contact-form__form-control" rows="4" required></textarea>
                  </div>
                  <div style="margin-bottom: 1em;" netlify-recaptcha></div>
                  <button target="_blank" type="submit" class="contact-form__btn btn btn-primary">Send Message</button>
              </form>
          </div>
        </div>
      </div>
      <div class="w-100 w-40-m">
        <div class="contact-info">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11424.118613347066!2d-88.366207!3d44.288779!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa5e9485ef031571d!2sA%20To%20Z%20Machine%20Company%2C%20Inc.!5e0!3m2!1sen!2sus!4v1633644337440!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          <ul class="contact-info__contact-list">
              <li class="contact-info__contact-list-item">
                <h2 class="h3">Phone</h2>
                <a href="tel:{{.Site.Data.site_settings.phone}}" class="contact-info__contact-link flex flex-center">
                {{ .Site.Data.site_settings.phone }}</a>
              </li>
              <li class="contact-info__contact-list-item">
                <h2 class="h3">Address</h2>
                <a href="tel:{{.Site.Data.site_settings.phone}}" class="contact-info__contact-link flex flex-center">
                  {{ .Site.Data.site_settings.address | markdownify }}</a>
              </li>
          </ul>
        </div>
        {{ with .Params.careers_cta }}
        <div class="contact-careers flow">
          <h2>{{ .heading| markdownify }}</h2>
          <p>{{ .body }}</p>
          {{ with .button }}
          <a href="{{ .button_url }}" class="btn btn-primary">{{ .button_text }}</a>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ partialCached "careers-cta" . }}
{{ end }}