.image-column {
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    clip-path: polygon(100% 100%, 0 90%, 0 100%);
    background-color: $light-gray;

    @include breakpoint(md) {
      clip-path: polygon(100% 0, 75% 0%, 100% 105%);
      top: -1px;
    }
  }

  @include breakpoint(lg) {
    max-height: 600px;
  }

  img {
    object-fit: cover;
    height: 100%;
  }
}

.image-column--alt {
  &::after {
    background-color: $primary-color;
    clip-path: polygon(100% 0%, 100% 10%, 0% 0%);

    @include breakpoint(md) {
      clip-path: polygon(0% 0%, 15% 0%, 0% 105%);
      clip-path: polygon(0% -5%, 0% 100%, 25% 100%);
    }
  }
}
