* {
  box-sizing: border-box;
  max-width: $measure;
}

html,
body,
div,
picture,
video,
section,
header,
nav,
main,
footer {
  max-width: none;
}

body {
  font-family: $primary-font;
  color: $black;
  scrollbar-width: $scrollbar-width;
  scrollbar-color: $light-gray;
}

body::-webkit-scrollbar {
  width: $scrollbar-width;
}

body::-webkit-scrollbar-track {
  background: $light-gray;
}

body::-webkit-scrollbar-thumb {
  background-color: $primary-color;
}

:focus {
  outline: 2px dashed get-color("primary");
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}

.site-main {
  margin-top: $mobile-header;

  @include breakpoint(md) {
    margin-top: $desktop-header;
  }
}

// Style highlight to match our themes colors
::-moz-selection {
  background: rgba($primary-color, 0.8);
  color: $white;
}

::selection {
  background: rgba($primary-color, 0.8);
  color: $white;
}

::-ms-selection {
  background: rgba($primary-color, 0.8);
  color: $white;
}
