body,
button,
input,
select,
optgroup,
textarea {
  font-family: $primary-font;
  font-display: swap;
  font-size: $ic-200;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font;
  font-weight: 700;
  font-display: swap;
  line-height: calc(2px + 2ex + 2px);
  margin-bottom: 0.65em;
  letter-spacing: 0.48px;
}

h1,
.h1 {
  font-size: $ic-800;
  font-size: clamp($ic-600, 4vw, $ic-1000);
}

h2,
.h2 {
  font-size: $ic-500;
  font-size: clamp($ic-400, 4vw, $ic-600);
}

h3,
.h3 {
  font-size: $ic-400;
  font-size: clamp($ic-300, 4vw, $ic-500);
}

h4,
.h4 {
  font-size: $ic-300;
  font-size: clamp($ic-200, 4vw, $ic-400);
}

h5,
.h5 {
  font-size: $ic-200;
  font-size: clamp($ic-100, 4vw, $ic-300);
}

h6,
.h6 {
  font-size: $ic-100;
}

article {
  > ul,
  > ol {
    > li + li {
      margin-top: $ic-100;
    }
  }

  * {
    + h2 {
      margin-top: 4rem;
    }

    + h3 {
      margin-top: 2rem;
    }
  }
}

.i {
  font-style: italic;
}

.b {
  font-weight: bold;
}

.shift-first {
  text-transform: capitalize;
}

.shift-up {
  text-transform: uppercase;
}

.no-margin {
  margin: 0;
}

.text-white {
  color: $white;
}

.text-primary {
  color: $primary-color;
}
