{{ define "main" }}
{{ if .Params.hero }}
  {{ with .Params.hero }}
    {{ partial "hero-split" . }}
  {{ end }}
{{ end }}

<div class="block">
    <ul class="wrapper-lg equipment-grid grid-3">
        {{ range .Pages }}
        <li class="card">
            <a href="{{ .Permalink }}" class="card__link flex flex-column">
                <div class="card__image-wrapper">
                    <img src="{{ .Permalink }}{{ .Params.seo.featured_image }}" alt="{{ .Params.seo.featured_image_alt }}" class="card__image">
                </div>
                <h2 class="h6 card__title no-margin text-center">{{ .Title }}</h2>
            </a>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}