{{ define "main" }}
<div class="equipment-main">
    <div class="equipment-hero hero"></div>
    {{ partial "hero-intro-alt" . }}
    <div class="block">
        <div class="wrapper-md flex flex-column flex-row-m">
            <div class="w-100 w-40-m">
                <img src="{{ .Permalink }}{{ .Params.seo.featured_image }}" alt="">
            </div>
            <div class="w-100 w-60-m equipment-list">
                {{ .Content }}
                <a href="/request-a-quote/" class="btn btn-primary">Request a quote</a>
            </div>
        </div>
    </div>
    <div class="wrapper-md pb-10">
        {{ partial "equipment/equipment-navigation" . }}
    </div>
</div>
{{ end }}